label.error {
	color: red;
	list-style-position: inside;
	margin:5px;
}

span.ss-required-asterisk {
	font-weight:bold;
	color:blue;
	margin:1px;
}

.ss-choice-item {
	list-style-type:none;
}