* {
	padding: 0px;
	margin: 0px;
	/*background-color:white;*/
	font-family: "Franklin Gothic Book", Helvetica, Times;
}

body {
	background-image:url("../images/main_background.jpg");
	background-attachment: fixed;
}

a {
	text-decoration:none;
}
/* Colours. */
.dark-blue {
	color:#145C89;
}
.white {
	color:white;
}
.blue-gradient {
	background: #18479B; /* Old browsers */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#356ec4', endColorstr='#0034a5',GradientType=0 ); /* IE6-9 */
}
.white-gradient {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #abadb5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#abadb5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#abadb5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#abadb5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#abadb5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#abadb5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#abadb5',GradientType=0 ); /* IE6-9 */
}
/* Text. */
h1 {
	font-size:28px;
	font-style:italic;
}
h2 {
	font-size:20px;
	font-style:italic;
}

h3 {
	font-size:17px;
	font-style:italic;
}
.information {
	font-size:12px;
	text-align:justify;
}
.bold {
	font-weight:bold;
}
.italic {
	font-style:italic;
}
/* Floats. */
.float-right {
	float:right;
}
.float-left {
	float:left;
}

/* Margins. */
.small-margin-vertical {
	margin:5px 0px;
}
.mid-margin {
	margin:10px;
}
.big-margin {
	margin:20px;
}
.mid-margin-vertical {
	margin:10px 0px;
}
.mid-margin-horizontal {
	margin:0px 10px;
}
.big-margin-vertical {
	margin:20px 0px;
}
/* Paddings. */
.mid-padding {
	padding:10px;
}
.big-padding {
	padding:20px;
}

/* Body Structure. */
#wrapper{
	z-index:-1;
	width:1000px;
	margin: 0px auto;
	position:relative;
}

#top_space {
	background-image:url("../images/background_top_light.jpg");
	background-color:white;
	margin:0px auto;
	width:100%;
	height:100px;
	top:0px;
	left:0px;
	position:fixed;
}
#top_center{
	position: absolute;
	left:50%;
	width:1000px;
	height:50px;
	margin-left: -500px; /* -(1/2 width) */
	text-align:right;
	/*-moz-box-shadow:    inset 0 4px 2px -2px #000000;
	-webkit-box-shadow: inset 0 4px 2px -2px #000000;
	box-shadow:         inset -25px -3px 10px #000000;*/
	background-color:transparent;
}
#top_center_right {
	float:right;
}
#top_center_left {
	float:left;
}

#banner {
	margin:0px auto;
	width:100%;
	height:350px;
	top:100px;
	position:relative;
	z-index:-1;
}
#banner_center{
	position: absolute;
	left:50%;
	width:1000px;
	height:50px;
	margin-left: -500px; /* -(1/2 width) */
	/*-moz-box-shadow:    inset 0 4px 2px -2px #000000;
	-webkit-box-shadow: inset 0 4px 2px -2px #000000;
	box-shadow:         inset -25px -3px 10px #000000;*/
	background-color:transparent;
}


#menu_bar {
	position:fixed;
	width:100%;
	height:30px;
	top:70px;
}

#menu_bar_center{
	position: absolute;
	left:50%;
	width:1000px;
	height:30px;
	margin-left: -500px; /* -(1/2 width) */
	text-align:right;
	background-color:transparent;
}

#bottom_space {
	background-image:url("../images/main_background.jpg");
	margin:0px auto;
	width:100%;
	height:10px;
	top:100px;
	position:fixed;
}

/* Icons. */
.icon {
	width:30px;
	height:30px;
}
/* Menu buttons. */
.menu_button {
	background-color:transparent;
	color:white;
	display:inline-block;
	height:25px;
	width:100px;
	margin:0px 5px;
	padding-top:5px;
	cursor:pointer;
	text-align:center;
}
.menu_button.selected {
	color:#0F2466;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #abadb5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#abadb5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#abadb5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#abadb5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#abadb5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#abadb5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#abadb5',GradientType=0 ); /* IE6-9 */
}

/* Main body. */
#content {
	width:1000px;
	position:relative;
	margin:0px auto;
	top:140px;
}

.blue_section {
	margin:20px 100px;
	overflow:hidden;
}

/* Footer. */
#footer {
	height:130px;
	width:100%;
	position:relative;
	background: #0d55c1; /* Old browsers */
	background: -moz-linear-gradient(top,  #0d55c1 0%, #001a6b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0d55c1), color-stop(100%,#001a6b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0d55c1 0%,#001a6b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0d55c1 0%,#001a6b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0d55c1 0%,#001a6b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #0d55c1 0%,#001a6b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d55c1', endColorstr='#001a6b',GradientType=0 ); /* IE6-9 */
	
	
}

#footer_bar_center {
	position: absolute;
	left:50%;
	width:1000px;
	height:130px;
	margin-left: -500px; /* -(1/2 width) */
	text-align:right;
}

#copyright {
	text-align:center;
	font-size:11px;
	color:white;
	positon:absolute;
	bottom:0px;
}


/* Main Page. */
#main_conference_pic {
	width:800px;
	height:300px;
	margin:0px auto;
}

.sponsor_image {
	width:200px;
	height:100px;
	margin:0px 5px 5px 0px;
}

#sponsors > table tr td{
	padding:5px;
}

/* About page. */
.exec_pic {
	width:150px;
	height:180px;
}
.exec_team tr td {
	padding:10px;
}

.exec_name {
	float:right;
	position:relative;
	top:-30px;
	background-color:rgba(0, 0, 0, 0.9);
	width:100%;
	height:20px;
	text-align:right;
	padding-top:10px;
}
.exec_name span {
	font-style:italic;
	padding-right:5px;
	color:gray;
}

/* Conference page. */
.schedule th {
	font-style:italic;
	text-align:left;
	padding:10px 0px;
}
.schedule tr td {
	padding:0px 20px;
}
.speakers img {
	padding:10px;
}