<!--==================================================================================
FOOTER
======================================================================================-->
<footer class="parallax-group" style="height:300px;">
    <ul>
        <li><a href="https://www.facebook.com/UWDECA"><span class="fa fa-facebook"></span></a>
        </li>
        <li><a href="https://twitter.com/UW_DECA"><span class="fa fa-twitter"></span></a>
        </li>
    </ul>

    <ul class="info">
        <li>
            <a href="mailto:admin@uwdeca.com"><span class="fa fa-envelope"></span> admin@uwdeca.com</a>
        </li>
        <li>
            <a><span class="fa fa-map-marker"></span> University of Waterloo</a>
        </li>
        <li>© UW Deca 2017</li>
    </ul>
</footer>

<!--==================================================================================
SCRIPTS
======================================================================================-->
<!--Jquery-->
<script type="text/javascript" src="js/jquery.js"></script>

<!--Bootstrap-->
<script type="text/javascript" src="js/bootstrap.min.js"></script>

<!--Stellar-->
<script type="text/javascript" src="js/jquery.stellar.min.js"></script>

<!--OWL-->
<script type="text/javascript" src="js/owl.carousel.min.js"></script>

<!--SmothScroll-->
<script type="text/javascript" src="js/smoothScrolls.js"></script>

<!--FitVids-->
<script type="text/javascript" src="js/jquery.fitvids.js"></script>

<!--MAIN-->
<script type="text/javascript" src="js/main.js"></script>
