<head>
    <meta charset="utf-8">

    <!--Meta Mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--Bootstrap-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!--Font-Awesome-->
    <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
    <!--OWL Carousel-->
    <link rel="stylesheet" href="css/owl.carousel.css">
    <!--OWL Theme-->
    <link rel="stylesheet" href="css/owl.theme.css">
    <!--STYLE-->
    <link rel="stylesheet" href="css/style.css">
    <!--Droid serif-->
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic' rel='stylesheet' type='text/css'>
    <!--Open sans-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,300,800,400' rel='stylesheet' type='text/css'>
    <!--Roboto-->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>


    <link rel="stylesheet" href="css/colors/lime.css" title="lime">

    <title>DISRUPT</title>

</head>
