<!--==================================================================================
Preload
======================================================================================-->
<div class="loading"></div>

<!--==================================================================================
LOGO
======================================================================================-->
<div class="logo" style="z-index:100;"><a href="index.php"><img src="images/logo.png" alt=""></a></div>


<!--==================================================================================
NAVIGATION
======================================================================================-->
<nav class="nav-menu">
    <ul class="nav-container">
        <li><a href="index.php" class="slide">Home</a></li>
        <li><a href="about.php">About</a></li>
        <!--<li><a href="itinerary.php">Itinerary</a></li>
        <li><a href="events.php">Speakers &amp; Workshops</a></li>
        <li><a href="social.php">Social Events</a></li>
        <li><a href="sponsors.php">Sponsors</a></li>-->
        <li><a href="register.php">Register</a></li>
        <!-- <li><a href="contact.html">Contact us</a></li> -->
    </ul>
</nav>

<div class="nav-toggle">
    <a href="index.php#"><i class="fa fa-align-right"></i></a>
</div>